<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tìm kiếm và Phân trang</title>
</head>
<body>
<h1>Bài 2 & 5: Tìm kiếm và Phân trang</h1>

<form action="/product/search-and-page" method="get">
    <input name="keywords" th:value="${keywords}" placeholder="Nhập từ khóa...">
    <button type="submit">Search</button>
</form>
<hr>

<h2>Kết quả phân trang:</h2>

<table border="1" style="width:70%">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Loại hàng</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${page.content}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 2, 'POINT')}"></td>
        <td th:text="${item.category.name}"></td>
    </tr>
    </tbody>
</table>

<div style="margin-top: 15px;">
    <a th:href="@{|/product/search-and-page?keywords=${keywords}&p=0|}">|&lt;&lt; First</a>

    <a th:if="${page.hasPrevious()}"
       th:href="@{|/product/search-and-page?keywords=${keywords}&p=${page.number - 1}|}"> &lt; Previous</a>

    <span th:text="${page.number + 1}"></span> / <span th:text="${page.totalPages}"></span>

    <a th:if="${page.hasNext()}"
       th:href="@{|/product/search-and-page?keywords=${keywords}&p=${page.number + 1}|}"> Next &gt;</a>

    <a th:href="@{|/product/search-and-page?keywords=${keywords}&p=${page.totalPages - 1}|}">Last &gt;&gt;|</a>
</div>

<p>Tổng số thực thể: [[${page.totalElements}]] | Trang số: [[${page.number + 1}]]</p>
</body>
</html>